.middle-search-bar {
    height: 5rem;
    background-color: #333;
}

.middle-search-bar input {
    width: 80%;
    height: 2.3rem;
    border: 1px solid white;
    outline: none;
    margin-top: 1.4rem;
    margin-left: 7rem;
    background-color: #ececec;
}

::placeholder {
    padding-left: 1rem;
    font-size: 1rem;
}

.middle-search-bar>svg {
    position: relative;
    width: auto;
    top: 0.3rem;
    right: 3rem;
    color: #5C5D5D;
    background-color: #ececec;
}