.four-column-boxes {
    margin-top: 2.5rem;
    padding-left: 1.8rem;
}

.under-four-column-boxes-second-border {
    display: flex;
    font-family: none;
}

.under-four-column-box {
    color: white;
    width: 19rem;
}

.under-four-column-box hr {
    margin-top: 2rem;
    border: 1px solid #ffffff;
}

.box-heading {
    font-size: 1.8rem;
}

.box-content {
    margin-top: 2rem;
    color: #1e1d1d;
}

.box-content a {
    color: #999;
    font-size: 0.9rem;
    text-decoration: none;
}

.box-content a:hover {
    color: #63B1E3;
    text-decoration: none;
}
.box-content ul{
    padding-left:0rem;
    list-style: none;
    text-decoration: none;
}
.box-content ul li {
    padding-top: 0.4rem;
    list-style: none;
    text-decoration: none;

}