.lower-section-contact-box {
    margin-top: 1.8rem;
    padding-left: 1.8rem;
    padding-right: 1.8rem;
}

.under-contact-box-heading {
    color: white;
    font-size: 2rem;
}
.footer-brand-images {
    display: flex;
    margin-top: 4rem;
    margin-bottom: 4rem;
}
.lower-section-contact-box hr {
    margin-top: 2rem;
    border: 1px solid #1e1d1d;
}

.under-contact-box-para {
    color: white;
    margin-top: 2rem;
    width: 33rem;
    color: #999;
}

.under-contact-box-para ul {
    display: flex;
    margin-top: 1.3rem;
    list-style: none;
}

.under-contact-box-para a {
    width: auto;
}

.under-contact-box-para ul li {
    width: 3rem;
    margin: 10px 16.66667px;
    font-size: 1.95rem;
}

.under-contact-box-para ul li a svg {
    padding-left: 0;
    color: #999;
}

.under-contact-box-para a:hover svg {
    color: #63B1E3;
}

.footer-brand-images {
    display: flex;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.footer-brand-images img {
    width: 100%;
    height: 2rem;
}
.footer-vertical-line {
    margin-top: 2rem;
    border: 1px solid #1e1d1d;
    margin-left: 1.8rem;
    width: 95%;
}

.footer-brand-images img {
    width: 100%;
    height: 2rem;
}
